@media (max-width: 37.5em) {
  .stacking {
    font-size: 0.875em;
  }

  .stacking thead {
    display: none;
  }

  .stacking tbody, 
  .stacking tr, 
  .stacking td {
    display: block;
    width: 100%;
  }

  .stacking tr {
    margin-bottom: 1em;
  }

  .stacking td {
    text-align: left;
    padding-left: 50%;
    position: relative;
    white-space: nowrap;
  }

  .stacking td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 45%;
    padding-left: 0.5em;
    text-align: left;
    font-weight: bold;
    color: black;
    border-left: 0.0625em solid #2b2b2b;
  }

  .stacking td:first-of-type {
    background-color: #EAF1F5;
    color: #2b2b2b;
    font-weight: normal;
  }
}

@media (min-width: 37.5625em) {
  .stacking {
    display: table;
  }

  .stacking td::before {
    content: "";
  }
}
