.responsive-table {
  border-collapse: separate;
  border-spacing: 0;
  font-size: 1em;
  margin: 1.25em 0;
}

.table-container {
  overflow-x: auto;
  width: 100%;
  margin-bottom: 1.25em;
}

.responsive-table tr:nth-child(odd) {
  background-color: #d4e4ec;
}

.responsive-table tr:nth-child(even) {
  background-color: #e5f1f8;
}

.responsive-table th, .responsive-table td {
  border: 0.0625em solid #2b2b2b;
  padding: 0.5em;
}

.responsive-table th {
  background-color: #89B2C7;
  color: black;
  position: sticky;
  top: 0;
  z-index: 1;
  border-width: 0.0625em;
  cursor: pointer;
}

.responsive-table th.sorted-ascending::after {
  content: ' ▲';
}

.responsive-table th.sorted-descending::after {
  content: ' ▼';
}

.responsive-table td {
  background-color: inherit;
}

.responsive-table td.text {
  text-align: left;
}

.responsive-table td.numeric {
  text-align: right;
}

@media (max-width: 37.5em) {
  .responsive-table {
    font-size: 0.875em;
  }
}
