.responsive-table {
  border-collapse: collapse;
  font-size: 1em;
  margin: 1.25em 0;
}

.responsive-table th, .responsive-table td {
  border: 0.0625em solid #2b2b2b;
  padding: 0.5em;
  background-color: #EAF1F5;
}

.responsive-table td {
  text-align: left;
}

.responsive-table td.numeric {
  text-align: right;
}

.responsive-table th {
  background-color: #89B2C7;
  color: black;
  
}

@media (max-width: 37.5em) {
  .responsive-table {
      font-size: 0.875;
  }
}
